<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <%- include('../partials/nav') %>

    <div class="row">
      <div class="col-md-12">
        <img src="/static/images/" class="img-fluid" alt="" />
      </div>
    </div>

    <form class="mx-5" method="post" enctype="multipart/form-data">
      <input type="hidden" name="blogid" value="<%= blog.blogid %>" />
      <input type="hidden" name="resim" value="<%= blog.resim %>" />
      <div class="row mb-3">
        <label for="inputEmail3" class="col-sm-2 col-form-label">Başlık</label>
        <div class="col-sm-10">
          <input
            type="text"
            class="form-control"
            id="baslik"
            name="baslik"
            value="<%= blog.baslik %>"
          />
        </div>
      </div>
      <div class="row mb-3">
        <label for="altbaslik" class="col-sm-2 col-form-label"
          >Alt Başlık</label
        >
        <div class="col-sm-10">
          <input
            type="text"
            class="form-control"
            id="altbaslik"
            name="altbaslik"
            value="<%= blog.altbaslik %>"
          />
        </div>
      </div>
      <div class="row mb-3">
        <label for="inputPassword3" class="col-sm-2 col-form-label"
          >Açıklama</label
        >
        <div class="col-sm-10">
          <label for="aciklama"></label>
          <%- include('../partials/editor',{aciklama: blog.aciklama}) %>
          <!-- <textarea
            name="aciklama"
            class="form-control"
            id="editor"
            rows="10"
          >
        </textarea>-->
        </div>
      </div>
      <div class="row mb-3">
        <label for="resim" class="col-sm-2 col-form-label">Resim</label>
        <div class="col-sm-10">
          <img
            src="/static/images/<%= blog.resim %>"
            alt=""
            style="display: block; width: 500px"
          />
          <input name="resim" class="form-control" id="resim" type="file" />
        </div>
      </div>

      <div class="row mb-3">
        <label for="kategori" class="col-sm-2 col-form-label">Kategori</label>
        <div class="col-sm-10">
          <select name="kategori" id="kategori" class="form-control">
            <% categories.forEach(category => { %> <% if (category.categoryid ==
            blog.categoryid) { %>
            <option value="<%= category.categoryid %>" selected>
              <%= category.isim %>
            </option>
            <% } else { %>
            <option value="<%= category.categoryid %>">
              <%= category.isim %>
            </option>
            <% } %> <% }) %>
          </select>
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-sm-10 offset-sm-2">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="anasayfa"
            name="anasayfa" <%= blog.anasayfa ? "checked" : "" %> />
            <label class="form-check-label" for="anasayfa"> Anasayfa </label>
          </div>

          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="onay"
            name="onay" <%= blog.onay ? "checked" : "" %> />
            <label class="form-check-label" for="onay"> Onay </label>
          </div>
        </div>
      </div>

      <button type="submit" class="btn btn-primary">Ekle</button>
    </form>
  </body>
</html>
